$obraH: 40px;

.Obra {
    width: 100%;
    flex: 0 0 $obraH;
    display: block;
    cursor: pointer;
    color: $black-color;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-left: 100%;
    animation: goInRight 0.54s forwards;
    transition: color 0.654s ease-out;

    &:hover {
        background-color: $black-color;
        color: $white-color;
        transition: color 0.654s ease-out;
    }

    &__title {
        font-weight: 600;
        font-size: 1.2em;
    }
}