.Header {
    position: fixed;
    z-index: 10;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 16px;
    background-color: $backColor;
    color: $greyBlack;
    
    &__logo {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue;
        background-image: url('/assets/logo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150px;
    }

    &__filters {
        position: relative;
        user-select: none;
        background-color: #ffffff;
        width: 100%;
        max-width: $maxW;
        min-width: $minW;
        height: 90px;
        margin: 40px auto 0;
        box-shadow: 0px 0px 5px 0px $greyDark;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;

        &__date {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            height: 60px;
            padding: 0 25px;

            .date {
                &__title {
                    font-size: 21px;
                    font-weight: 600;
                    margin-right: auto;
                }
                &__label {
                    font-size: 16px;
                }
            }
        }

        &__order {
            height: 30px;
            padding: 0 20px;
            background-color: $greyMedium;
            display: flex;
            flex-direction: row;
            font-size: 14px;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
        }
    }

    &__order {
        @include flexRow();
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .order {
            &__title {
                margin-right: 5px;
            }
            &__icon {
                flex: 0 0 10px;
                opacity: 0.3;

            }
        }

        &.property--selected {
            .order__icon {
                opacity: 1;
            }
        }
    }

    &__date {
        border: solid 1px $grey;
        height: 40px;
        margin-left: 10px;
        padding-left: 10px;
        box-sizing: border-box;
        min-width: 120px;
        font-size: 14px;
        color: $greyDark;
    }
}