.Visor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    
    &__slimbar {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 40px;
        padding: 10px;
        background-color: white;
    }

    &__package {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 68px;
        background-color: #0076B3;
        padding: 0 15px;
        color: white;
        background-image: url('./assets/img/bg_submenu_2_floors_right.svg'), url('./assets/img/bg_submenu_2_floors_left.svg');
        background-position: right center, left center;
        background-position-x: right, left;
        background-position-y: center, center;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain;
    }
}

.slimbar {
    &__logo {
        cursor: pointer;
        img {
            height: 100%;
        }
    }

    &__langs {
        color: #9B9B9B;
        margin-right: 30px;

        &__actLang {
            user-select: none;
            cursor: pointer;
            text-align: right;
            text-transform: uppercase;

            span {
                padding-right: 5px;
            }
        }

        &__list {
            background-color: white;
            overflow: hidden;
            cursor: pointer;

            * {
                padding: 10px;
                user-select: none;
                &:hover {
                    background-color: #9B9B9B;
                    color: white;
                }
            }
            &.menu--opened {
                height: auto;
            }
            &.menu--closed {
                height: 0;
            }
        }
    }
}

.package {
    &__logo {
        height: 35px;
        margin-right: 50px;
        img {
            height: 100%;
        }
    }
    &__title {
        padding-right: 10px;
        margin: 0 2% 0 auto;
    }
    &__button {
        //margin-left: auto;
    }
}

@media screen and (max-width: 767px) {
    .package {
        &__logo {
            margin-right: 10px;
        }
    }
}
