@import url("https://fonts.googleapis.com/css?family=Roboto");
body, html {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #F3F2F7;
  border-radius: 5px; }

#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

.Header {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 16px;
  background-color: #F3F2F7;
  color: #7c7c7c; }
  .Header__logo {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D7FE2;
    background-image: url("/assets/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px; }
  .Header__filters {
    position: relative;
    user-select: none;
    background-color: #ffffff;
    width: 100%;
    max-width: 960px;
    min-width: 560px;
    height: 90px;
    margin: 40px auto 0;
    box-shadow: 0px 0px 5px 0px #d1d1d1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px; }
    .Header__filters__date {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 60px;
      padding: 0 25px; }
      .Header__filters__date .date__title {
        font-size: 21px;
        font-weight: 600;
        margin-right: auto; }
      .Header__filters__date .date__label {
        font-size: 16px; }
    .Header__filters__order {
      height: 30px;
      padding: 0 20px;
      background-color: #F9F9FB;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box; }
  .Header__order {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .Header__order:nth-child(1) {
      flex: 0 2 280px; }
    .Header__order:nth-child(2) {
      flex: 0 0 100px;
      text-align: center; }
    .Header__order:nth-child(3) {
      flex: 0 2 260px;
      text-align: center; }
    .Header__order:nth-child(4) {
      flex: 1 1 200px;
      text-align: center; }
    .Header__order .order__title {
      margin-right: 5px; }
    .Header__order .order__icon {
      flex: 0 0 10px;
      opacity: 0.3; }
    .Header__order.property--selected .order__icon {
      opacity: 1; }
  .Header__date {
    border: solid 1px #ECEDF2;
    height: 40px;
    margin-left: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    min-width: 120px;
    font-size: 14px;
    color: #d1d1d1; }

.Team {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 560px;
  box-sizing: border-box;
  padding-bottom: 50px; }
  .Team__list {
    position: relative;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    margin: 190px auto 0;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px -5px 5px 0px #d1d1d1; }
  .Team__footer {
    position: relative;
    width: 100%;
    max-width: 960px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #ECEDF2;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 1px 3px 0 #d1d1d1; }
    .Team__footer .footer__button {
      width: 33px;
      height: 35px;
      font-size: 14px;
      line-height: 35px;
      border: solid 1px #ECEDF2;
      text-align: center;
      color: #2D7FE2;
      box-sizing: border-box;
      cursor: pointer; }
      .Team__footer .footer__button:nth-child(n+2) {
        border-left: none; }
      .Team__footer .footer__button.button--selected {
        background-color: #2D7FE2;
        color: white; }

.User {
  position: relative;
  width: 100%;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: solid 1px #ECEDF2; }
  .User > div:nth-child(1) {
    flex: 0 2 280px; }
  .User > div:nth-child(2) {
    flex: 0 0 100px;
    text-align: center; }
  .User > div:nth-child(3) {
    flex: 0 2 260px;
    text-align: center; }
  .User > div:nth-child(4) {
    flex: 1 1 200px;
    text-align: center; }
  .User__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px; }
  .User__avatar {
    flex: 0 0 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    color: white;
    margin: 0 15px 0 0; }
    .User__avatar .avatar__image {
      width: 100%; }
    .User__avatar .avatar__Acronym {
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase; }
  .User__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 14px; }
  .User__profession {
    font-size: 12px; }
  .User__freeTime {
    width: 100%;
    height: 18px; }
    .User__freeTime .freeTime__bar {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 150px;
      margin: 0 auto;
      background-color: #ECEDF2;
      border-radius: 2px;
      overflow: hidden; }
    .User__freeTime .freeTime__out {
      height: 100%;
      background-color: #2D7FE2; }

/*# sourceMappingURL=main.css.map */