/__test__/
/json/
/.vscode/
/assets/
/json/
/node_modules/
/polyfill/
.babelrc
.editorconfig
.npmignore
/bs-config.js
/bs-config.prod.js
/import.html
/index.css
/index.css.map
/index.html
/index.prod.html
/league.js