@import url("https://fonts.googleapis.com/css?family=Roboto");
@keyframes float {
  0% {
    transform: rotate3d(1, 0, 0, -10deg); }
  50% {
    transform: rotate3d(0, 1, 0, 15deg); }
  100% {
    transform: rotate3d(1, 0, 0, 10deg); } }

@keyframes float2 {
  0% {
    transform: rotate3d(1, 0, 0, 0); }
  25% {
    transform: rotate3d(1, 1, 0, -10deg); }
  75% {
    transform: rotate3d(1, 10, 0, 10deg); }
  100% {
    transform: rotate3d(1, 0, 0, 0); } }

@keyframes updown {
  0% {
    transform: translate(-2%, 0) rotateY(0); }
  50% {
    transform: translate(-1%, -5%) rotateY(20deg); }
  100% {
    transform: translate(-2%, 0) rotateY(0); } }

@keyframes goIn {
  0% {
    transform: translate(0, 500px);
    opacity: 0; }
  100% {
    transform: translate(-2%, 30px);
    opacity: 1; } }

@keyframes goOut {
  0% {
    transform: translate(-2%, 30px);
    opacity: 1; }
  100% {
    transform: translate(0, 500px);
    opacity: 0; } }

@keyframes updown2 {
  0% {
    transform: translate(-2%, 30px); }
  25% {
    transform: translate(-1%, 50px); }
  50% {
    transform: translate(0, 30px); }
  75% {
    transform: translate(1%, 50px); }
  100% {
    transform: translate(-2%, 30px); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: -10; }
  0.1% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInImage {
  0% {
    opacity: 0; }
  1% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  99.9% {
    opacity: 0; }
  100% {
    opacity: 0;
    z-index: -10; } }

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes out {
  0% {
    width: 100%; }
  100% {
    top: 50%;
    left: 50%;
    width: 0%; } }

@keyframes pulse {
  0% {
    transform: scale(0.9); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(90, 153, 212, 0); }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0); } }

/*internet explorer scrollbalken*/
body {
  scrollbar-base-color: #F3F3F3;
  scrollbar-base-color: #F3F3F3;
  scrollbar-3dlight-color: #F3F3F3;
  scrollbar-highlight-color: #F3F3F3;
  scrollbar-track-color: #D8D8D8;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #F3F3F3;
  scrollbar-dark-shadow-color: #F3F3F3; }

/*mozilla scrolbalken*/
@-moz-document url-prefix(http://),url-prefix(https://) {
  scrollbar {
    -moz-appearance: none !important;
    background: #F3F3F3 !important; }
  thumb, scrollbarbutton {
    -moz-appearance: none !important;
    background-color: #D8D8D8 !important; }
  thumb:hover, scrollbarbutton:hover {
    -moz-appearance: none !important;
    background-color: rgba(0, 0, 0, 0.3) !important; }
  scrollbarbutton {
    display: none !important; }
  scrollbar[orient="vertical"] {
    min-width: 15px !important; } }

/*webkit*/
::-webkit-scrollbar {
  background: #F3F3F3;
  width: 6px;
  height: 6px;
  border-radius: 3px; }

::-webkit-scrollbar-thumb {
  background-color: #D8D8D8;
  border: none;
  border-radius: 3px;
  width: 6px; }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.Gallery {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: 360px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column; }
  .Gallery__Header {
    position: fixed;
    z-index: 20;
    min-width: 360px; }
  .Gallery__Footer {
    position: relative;
    z-index: 20; }
  .Gallery__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .Gallery__photo {
    position: relative;
    width: 150px;
    height: 150px; }
  .Gallery .Loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    z-index: 20;
    background-color: #E5E5E5; }
    .Gallery .Loader svg {
      width: 100px;
      height: 100px; }
    .Gallery .Loader--loaded {
      animation: fadeOut 0.879s forwards; }
  .Gallery__section .section__back {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .Gallery__section .section__back.imagefit--W img {
      width: 100%;
      height: auto; }
    .Gallery__section .section__back.imagefit--H img {
      width: auto;
      height: 100%; }
    .Gallery__section .section__back img {
      width: 100%;
      transform: scale(1);
      opacity: 1; }
    .Gallery__section .section__back.back--loading {
      opacity: 0; }
      .Gallery__section .section__back.back--loading img {
        transform: scale(1.2); }
    .Gallery__section .section__back.back--loaded {
      opacity: 1;
      transition: opacity 1.987s; }
      .Gallery__section .section__back.back--loaded img {
        transform: scale(1);
        transition: transform 2.676s; }

backimage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.chivato {
  position: absolute;
  top: 300px;
  left: 0;
  width: 200px;
  height: 50px;
  background-color: white;
  z-index: 1000;
  color: black; }

.Photo {
  cursor: pointer;
  overflow: hidden;
  background-color: gray;
  border: solid 1px black;
  box-sizing: border-box; }
  .Photo:hover .Photo__image {
    transform: scale(1.5) rotate(10deg);
    transition: transform 0.568s; }
  .Photo:hover .Photo__info {
    opacity: 1;
    transition: opacity 0.568s; }
  .Photo__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1) rotate(0deg);
    transition: transform 0.288s;
    opacity: 1; }
  .Photo__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.298s; }
  .Photo__title {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    max-height: 80%;
    max-width: 100%;
    overflow: hidden; }
  .Photo__owner {
    margin-top: 5px;
    padding-top: 5px;
    border-top: solid 1px white;
    font-size: 0.8em; }
    .Photo__owner:hover {
      color: red; }

.Visor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%; }
  .Visor__slimbar {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 40px;
    padding: 10px;
    background-color: white; }
  .Visor__package {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    background-color: #0076B3;
    padding: 0 15px;
    color: white;
    background-image: url("./assets/img/bg_submenu_2_floors_right.svg"), url("./assets/img/bg_submenu_2_floors_left.svg");
    background-position: right center, left center;
    background-position-x: right, left;
    background-position-y: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain; }

.slimbar__logo {
  cursor: pointer; }
  .slimbar__logo img {
    height: 100%; }

.slimbar__langs {
  color: #9B9B9B;
  margin-right: 30px; }
  .slimbar__langs__actLang {
    user-select: none;
    cursor: pointer;
    text-align: right;
    text-transform: uppercase; }
    .slimbar__langs__actLang span {
      padding-right: 5px; }
  .slimbar__langs__list {
    background-color: white;
    overflow: hidden;
    cursor: pointer; }
    .slimbar__langs__list * {
      padding: 10px;
      user-select: none; }
      .slimbar__langs__list *:hover {
        background-color: #9B9B9B;
        color: white; }
    .slimbar__langs__list.menu--opened {
      height: auto; }
    .slimbar__langs__list.menu--closed {
      height: 0; }

.package__logo {
  height: 35px;
  margin-right: 50px; }
  .package__logo img {
    height: 100%; }

.package__title {
  padding-right: 10px;
  margin: 0 2% 0 auto; }

@media screen and (max-width: 767px) {
  .package__logo {
    margin-right: 10px; } }

body, html {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=main.css.map */