@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "./animations.scss";
@import "./Gallery/scrollbars.scss";
@import "./Gallery/gallery.scss";
@import "./Photo/photo.scss";
@import "./Visor/visor.scss";

body,html {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    padding: 0;
    margin: 0;

    &.App--onphoto {
        overflow: hidden;
    }
}
