
.Portada {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

    &__media {
        flex: 0 0 0;
        background-color: rgba(0, 0, 0, 0.937);
        color: white;
        overflow: hidden;
        transition: all 0.768s;
        text-align: left;
        display: flex;

        &.media--closed {
            flex: 1 0 50%;
            transition: all 0.768s;
        }

        &.media--opened {
            flex: 0 0 100%;
            overflow-y: scroll;
            background-color: rgba(0, 0, 0, 1);
            transition: all 0.768s;
        }

        .media {
            &__gallery {
                flex: 1;
                height: 100%;

                .gallery {
                    &__image {
                        width: 100%;
                        height: 100%;
                        margin: 5px;
                        box-sizing: content-box;
                        background-position: center 0;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
            &__bar {
                flex: 0 0 $barW;
                padding: 5px;
                display: flex;
                flex-direction: column;
                justify-content: stretch;
            }
            &__nano {
                position: fixed;
                width: 250px;
                background-color: black;
                top: 0;
                font-size: 2.1em;
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
            &__thumbnail {
                position: fixed;
                top: 0;
                width: 250px;
                height: 250px;
                margin-top: 40px;
                flex: 0 0 250px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                background-size: cover;
                background-position: center;
                color: rgb(20, 22, 24);
                font-weight: 800;
                font-size: 1.98em;
                line-height: 1.22em;
                text-transform: uppercase;
                word-wrap: break-word;
                
                span {
                    padding: 0 5px;
                    background-color: rgba(255, 255, 255, 0.492);
                }
            }
            &__info {
                margin-top: 290px;
                font-size: 0.85em;
            }
        }
        iframe {
            max-width: 100%;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__obra {
        flex: 0 0 50%;
        background-color: rgba(255, 255, 255, 0.908);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow-y: scroll;
    }
    
    &__year {
        position: relative;
        margin-left: 100%;
        z-index: 2;
        width: 100%;
        height: 0;
        text-align: right;
        border-bottom: solid 1px grey;
        color: grey;
        animation: goInRight 0.54s forwards;
    }
}
