$barW: 250px;
$iconW: 30px;

.Portada {
    min-width: 520px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

    &--INIT {
        .Portada {
            &__left {
                flex: 0;
            }
            &__right {
                flex: 0;
            }
            &__obra {
                width: 100%;
            }
            &__exhibitions {
                width: 0;
            }
        }
    }

    &--OBRA {
        .Portada {
            &__left {
                flex: 1 0 50%;
            }
            &__right {
                flex: 1 0 50%;
                overflow-y: scroll;
            }
            &__obra {
                width: 100%;
            }
            &__exhibitions {
                width: 0;
            }
        }
    }

    &--GALLERY {
        .Portada {
            &__left {
                flex: 1;
                overflow-y: scroll;
                background-color: rgba(0, 0, 0, 1);
                .media__nano {
                    &:hover {
                        color: black;
                        background-color: white;
                    }
                }
            }
            &__right {
                flex: 0;
                overflow-y: hidden;
            }
            &__obra {
                width: 100%;
                //width: 0;
            }
            &__exhibitions {
                width: 100%;
                //width: 0;
            }
        }
    }

    &--EXHIBITIONS {
        .Portada {
            &__left {
                flex: 0 0 260px;
            }
            &__right {
                flex: 1 ;
                overflow-y: scroll;
            }
            &__obra {
                width: 30%;
                min-width: 260px;
            }
            &__exhibitions {
                //width: 70%;
            }
        }
    }

    &__left {
        background-color: $black-color;
        color: white;
        overflow: hidden;
        text-align: left;
        display: flex;
        transition: all 0.468s ease-out;

        .media {
            &__bar {
                flex: 0 0 $barW;
                padding: 5px;
                display: flex;
                flex-direction: column;
                justify-content: stretch;
            }
            &__nano {
                position: fixed;
                width: $barW;
                top: 0;
                font-size: 30px;
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                text-transform: uppercase;
                color: $white-color;

                &:hover {
                    background-color: $white-color;
                    color: $black-color;
                }
            }
            &__thumbnail {
                position: fixed;
                top: 0;
                width: $barW;
                height: $barW;
                margin-top: 40px;
                flex: 0 0 $barW;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                color: rgb(20, 22, 24);
                font-weight: 800;
                font-size: 25px;
                line-height: 1.22em;
                text-transform: uppercase;
                word-wrap: break-word;
                
                span {
                    position: relative;
                    z-index: 3;
                    padding: 0 5px;
                    background-color: rgba(255, 255, 255, 0.492);
                    word-wrap: break-word;
                    max-width: 100%;
                    box-sizing: border-box;
                }

                &__default {
                    position: absolute;
                    top:0;
                    left:0;
                    z-index: 1;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    background-image: url('https://nanovaldes.com/wp-content/uploads/2013/07/nanofoto-240x240.jpg')
                }

                &__selected {
                    position: absolute;
                    top:0;
                    left:0;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                }
            }
            &__info {
                margin-top: 290px;
                font-size: 0.85em;

                .info {
                    &__mail, &__phone {
                        color: white;
                        display: block;
                        margin-top: 10px;
                        &:hover {
                            background-color: $white-color;
                            color: $black-color;
                        }
                    }
                    &__exhibitions {
                        margin-top: 20px;
                        font-size: 30px;
                        font-weight: 600;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        text-transform: uppercase;
                        color: $white-color;
        
                        &:hover {
                            background-color: $white-color;
                            color: $black-color;
                        }
                            }
                }
            }
        }

        iframe {
            max-width: 100%;
        }
    }

    &__right {
        position: relative;
        height: 100%;
        transition: all 0.468s ease-out;
        text-align: right;
        background-color: $black-color;
    }
    
    &__obra {
        position: relative;
        z-index: 10;
        float: left;
        background-color: $white-color;
        color: $black-color;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: all 0.468s ease-out;
    }
    
    &__year {
        position: relative;
        margin-left: 100%;
        z-index: 2;
        width: 100%;
        height: 0;
        font-size: 13px;
        text-align: right;
        border-bottom: solid 1px grey;
        color: $grey-color;
        animation: goInRight 0.54s forwards;
    }

    &__exhibitions {
        position: relative;
        z-index: 20;
        font-size: 13px;
        background-color: #161415;
        color: $white-color;
        transition: all 0.468s ease-out;
        overflow: hidden;

        p {
            width: 1000px;
            height: 20px;
            line-height: 15px;
            margin: 5px;
            text-align: left;
        }
    }
}

.plusAnim {
    position: relative;
    margin-right: 1px;
    width: $iconW;
    height: $iconW;
    
    * {
        background-color: #C4243C;
        transition: all 0.25s 0.576s;
    }

    .lineH {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 6px;
        margin-top: -3px;
        border-radius: 3px;
    }

    .lineV1 {
        position: absolute;
        top: 0;
        right: $iconW/2-3;
        height: 50%;
        width: 5px;
        border-radius: 3px;
        transform-origin: center bottom;

        &.position--EXHIBITIONS {
            right: $iconW/2-3;
            width: 5px;
            transform: rotate(90deg)
        }
        &.position--GALLERY {
            top: -1px;
            right: 85%;
            transform: rotate(45deg)
        }
    }

    .lineV2 {
        position: absolute;
        top: 50%;
        right: $iconW/2-3;
        height: 50%;
        width: 5px;
        border-radius: 3px;
        transform-origin: center top;

        &.position--EXHIBITIONS {
            right: $iconW/2-3;
            width: 5px;
            transform: rotate(90deg)
        }
        &.position--GALLERY {
            right: 85%;
            transform: rotate(-45deg)
        }
    }
}