.League {
    .League__menu {
        display: flex;
        justify-content: space-around;
        &-item {
            cursor: pointer;
            &.selected {
                background-color: aqua;
            }
        }
    }

    .League__content {
        display: block;
        position: relative;
        width: 100%;

        &>*{
            position: absolute;
            top: 0;
            left: 0;
        }
        .showing{
            opacity: 1;
            transition: opacity 2s;
            pointer-events: all;
        }
        .hidden {
            opacity: 0;
            transition: opacity 2s;
            pointer-events: none;
        }
    }
}

