.League {
    .League__menu {
        display: flex;
        justify-content: space-around;
        &-item {
            cursor: pointer;
            &--selected {
                background-color: aqua;
            }
        }
    }

    .League__content {
        display: block;
        position: relative;
        &>*{
            position: absolute;
            top: 0;
            left: 0;
        }
        .showing{
            opacity: 1;
            display: inherit;
            transition: opacity 2s;
            pointer-events: all;
            &.animation--init:not(.animation--run){
                opacity: 0;
            }
        }
        .hidden {
            opacity: 0;
            transition: opacity 2s;
            pointer-events: none;
            &.animation--end{
                display: none;
            }
        }
        .League__Info {
            display: block;
        }
        .League__User {
            display: block;
            background-color: rgb(99, 55, 55);
            color: white;        
        }        
        .League__Riders {
            display: block;
            background-color: aliceblue;
            color: black;
        }
    }
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}