body {
    padding: 0;
    margin: 0;
}

.League {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    
    .League__header {
        position: absolute;
        top: 0;
        width: 100%;

        .League__menu {
            display: flex;
            justify-content: space-around;
            padding: 10px;
                  
            &-item {
                cursor: pointer;
                padding: 5px 10px;
                &.selected {
                    background-color: aqua;
                }
            }
        }
    }

    .League__content {
        position: absolute;
        top: 50px;
        bottom: 0;
        width: 100%;

        &>*{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
        .showing{
            opacity: 1;
            transition: opacity 2s;
            pointer-events: all;
        }
        .hidden {
            opacity: 0;
            transition: opacity 2s;
            pointer-events: none;
        }
    }
}

