@import "./animations.scss";
@import "./Portada/scrollbars.scss";
@import "./App/app.scss";
@import "./Portada/portada.scss";
@import "./Obra/obra.scss";

body,html {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
