@import url("https://fonts.googleapis.com/css?family=Roboto");
@keyframes goInRight {
  0% {
    margin-left: 100%; }
  100% {
    margin-left: 0; } }

@keyframes goInBottom {
  0% {
    margin-top: 100%; }
  100% {
    margin-top: 0; } }

@keyframes nanoFadeInOut {
  0% {
    text-shadow: 0 0 0 #fff; }
  50% {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }
  70% {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }
  100% {
    text-shadow: 0 0 0 #fff; } }

@keyframes nanoFadeOutIn {
  0% {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }
  50% {
    text-shadow: 0 0 0 #fff; }
  70% {
    text-shadow: 0 0 0 #fff; }
  100% {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); } }

/*internet explorer scrollbalken*/
body {
  scrollbar-base-color: #F3F3F3;
  scrollbar-base-color: #F3F3F3;
  scrollbar-3dlight-color: #F3F3F3;
  scrollbar-highlight-color: #F3F3F3;
  scrollbar-track-color: #D8D8D8;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #F3F3F3;
  scrollbar-dark-shadow-color: #F3F3F3; }

/*mozilla scrolbalken*/
@-moz-document url-prefix(http://),url-prefix(https://) {
  scrollbar {
    -moz-appearance: none !important;
    background: #F3F3F3 !important; }
  thumb, scrollbarbutton {
    -moz-appearance: none !important;
    background-color: #D8D8D8 !important; }
  thumb:hover, scrollbarbutton:hover {
    -moz-appearance: none !important;
    background-color: rgba(0, 0, 0, 0.3) !important; }
  scrollbarbutton {
    display: none !important; }
  scrollbar[orient="vertical"] {
    min-width: 15px !important; } }

/*webkit*/
::-webkit-scrollbar {
  background: #F3F3F3;
  width: 6px;
  height: 6px;
  border-radius: 3px; }

::-webkit-scrollbar-thumb {
  background-color: #D8D8D8;
  border: none;
  border-radius: 3px;
  width: 6px; }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3); }

.App__back {
  position: fixed; }

.App__loader {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  color: white; }

.App--inited.App__loader {
  animation: nanoFadeInOut 1.7s infinite ease-out; }

.Portada {
  min-width: 520px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; }

.Portada--INIT .Portada__left {
  flex: 0; }

.Portada--INIT .Portada__right {
  flex: 0; }

.Portada--INIT .Portada__obra {
  width: 100%; }

.Portada--INIT .Portada__exhibitions {
  width: 0; }

.Portada--OBRA .Portada__left {
  flex: 1 0 50%; }

.Portada--OBRA .Portada__right {
  flex: 1 0 50%;
  overflow-y: scroll; }

.Portada--OBRA .Portada__obra {
  width: 100%; }

.Portada--OBRA .Portada__exhibitions {
  width: 0; }

.Portada--GALLERY .Portada__left {
  flex: 1;
  overflow-y: scroll;
  background-color: black; }

.Portada--GALLERY .Portada__left .media__nano:hover {
  color: black;
  background-color: white; }

.Portada--GALLERY .Portada__right {
  flex: 0;
  overflow-y: hidden; }

.Portada--GALLERY .Portada__obra {
  width: 100%; }

.Portada--GALLERY .Portada__exhibitions {
  width: 100%; }

.Portada--EXHIBITIONS .Portada__left {
  flex: 0 0 260px; }

.Portada--EXHIBITIONS .Portada__right {
  flex: 1;
  overflow-y: scroll; }

.Portada--EXHIBITIONS .Portada__obra {
  width: 30%; }

.Portada__left {
  background-color: #161415;
  color: white;
  overflow: hidden;
  text-align: left;
  display: flex;
  transition: all 0.468s ease-out; }

.Portada__left .media__bar {
  flex: 0 0 250px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: stretch; }

.Portada__left .media__nano {
  position: fixed;
  width: 250px;
  top: 0;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #f7f7f7; }

.Portada__left .media__nano:hover {
  background-color: #f7f7f7;
  color: #161415; }

.Portada__left .media__thumbnail {
  position: fixed;
  top: 0;
  width: 250px;
  height: 250px;
  margin-top: 40px;
  flex: 0 0 250px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #141618;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.22em;
  text-transform: uppercase;
  word-wrap: break-word; }

.Portada__left .media__thumbnail span {
  position: relative;
  z-index: 3;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.492);
  word-wrap: break-word;
  max-width: 100%;
  box-sizing: border-box; }

.Portada__left .media__thumbnail__default {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("https://nanovaldes.com/wp-content/uploads/2013/07/nanofoto-240x240.jpg"); }

.Portada__left .media__thumbnail__selected {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; }

.Portada__left .media__info {
  margin-top: 290px;
  font-size: 0.85em; }

.Portada__left .media__info a {
  color: white;
  display: block; }

.Portada__left iframe {
  max-width: 100%; }

.Portada__right {
  position: relative;
  height: 100%;
  transition: all 0.468s ease-out;
  text-align: right;
  background-color: #161415; }

.Portada__obra {
  position: relative;
  z-index: 10;
  float: left;
  background-color: #f7f7f7;
  color: #161415;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.468s ease-out; }

.Portada__year {
  position: relative;
  margin-left: 100%;
  z-index: 2;
  width: 100%;
  height: 0;
  font-size: 13px;
  text-align: right;
  border-bottom: solid 1px grey;
  color: #949494;
  animation: goInRight 0.54s forwards; }

.Portada__exhibitions {
  position: relative;
  z-index: 20;
  font-size: 13px;
  background-color: #161415;
  color: #f7f7f7;
  transition: all 0.468s ease-out;
  overflow: hidden;
  height: 100%; }

.Portada__exhibitions p {
  width: 1000px;
  height: 20px;
  line-height: 15px;
  margin: 5px;
  text-align: left; }

.plusAnim {
  position: relative;
  margin-right: 1px;
  width: 30px;
  height: 30px; }

.plusAnim * {
  background-color: #C4243C;
  transition: all 0.25s 0.576s; }

.plusAnim .lineH {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 6px;
  margin-top: -3px;
  border-radius: 3px; }

.plusAnim .lineV1 {
  position: absolute;
  top: 0;
  right: 12px;
  height: 50%;
  width: 6px;
  border-radius: 3px;
  transform-origin: center bottom; }

.plusAnim .lineV1.position--EXHIBITIONS {
  right: 12px;
  transform: rotate(90deg); }

.plusAnim .lineV1.position--GALLERY {
  right: 80%;
  transform: rotate(45deg); }

.plusAnim .lineV2 {
  position: absolute;
  top: 50%;
  right: 12px;
  height: 50%;
  width: 6px;
  border-radius: 3px;
  transform-origin: center top; }

.plusAnim .lineV2.position--EXHIBITIONS {
  right: 12px;
  transform: rotate(90deg); }

.plusAnim .lineV2.position--GALLERY {
  right: 80%;
  transform-origin: center top;
  transform: rotate(-45deg); }

.media__Gallery {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.media__Gallery .Gallery__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 5px;
  width: 100%; }

.media__Gallery .Gallery__image img {
  width: 100%;
  height: auto; }

.media__Gallery .Gallery__image.image--loading {
  opacity: 0; }

.media__Gallery .Gallery__image.image--loaded {
  opacity: 1;
  transition: opacity 0.345s; }

.Obra {
  width: 100%;
  text-align: left;
  flex: 0 0 40px;
  display: block;
  cursor: pointer;
  color: #161415;
  box-sizing: border-box;
  display: flex;
  padding: 0 10px;
  animation: goInRight 0.54s forwards;
  transition: color 0.654s ease-out; }

.Obra:hover {
  background-color: #161415;
  color: #f7f7f7;
  transition: color 0.654s ease-out; }

.Obra__title {
  min-width: 300px;
  width: 100%;
  font-weight: 600;
  font-size: 18px; }

body, html {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */