
.Gallery {
    position: relative;
    width: 100%;
    min-height: 100%;
    min-width: 360px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;

    &__Header {
        position: fixed;
        z-index: 20;
        min-width: 360px;
    }
    &__Footer {
        position: relative;
        z-index: 20;
    }
    &__content {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__photo {
        position: relative;
        width: 150px;
        height: 150px;
    }
    
    .Loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        z-index: 20;
        background-color: #E5E5E5;

        svg {
            width: 100px;
            height: 100px;
        }

        &--loaded {
            animation: fadeOut 0.879s forwards;
        }
    }

    &__section {
        .section__back {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &.imagefit {
                &--W {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                &--H {
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }
            img {
                width: 100%;
                transform: scale(1);
                opacity: 1;
            }

            &.back--loading{
                opacity: 0;
                img {
                    transform: scale(1.2);
                }
            }
            &.back--loaded {
                opacity: 1;
                transition: opacity 1.987s;
                img {
                    transform: scale(1);
                    transition: transform 2.676s;
                }
            }
        }
    }
}

backimage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.chivato {
    position: absolute;
    top:300px;
    left: 0;
    width: 200px;
    height: 50px;
    background-color: white;
    z-index: 1000;
    color: black;
}