$barW: 250px;

$black-color: #161415;
$white-color: rgb(247, 247, 247);
$grey-color: rgb(148, 148, 148);

.App {
    &__back {
        position: fixed;
    }

    &__loader {
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75px;
        color: white;
    }

    &--inited {
        &.App__loader {
            animation: nanoFadeInOut 1.7s infinite ease-out;
        }
    }
}