

.League__Play {
    width: 100%;
    user-select: none;
    min-height: 300px;
    min-width: 300px;

    .Play__bet {
        position: fixed;
        z-index: 3;
        width: 60%;
        min-width: 200px;
        left: 0;
        top: $menuH;
        bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        min-height: 300px;

        .Play__rider {
            width: 80%;
            max-width: 100px;
            height: 80%;
            max-height: 120px;
            padding: 5%;
            color: black;
            background-color: rgba(255, 255, 255, 0.7);
            border: solid 1px black;
            display: flex;
            padding: 5px;
            justify-content: space-between;
            align-items: stretch;
            flex-direction: column;
            &.ondrag {
                position: fixed;
            }

            .rider__drag {
                background-color: rgb(95, 95, 95);
                height: 60px;
            }

            .rider__name {
                width: 100%;
            }
        }

        .Play__bet-item {
            width: 33.33%;
            height: 20%;
            border: solid 1px white;
            background-color: rgb(202, 202, 202);
            position: relative;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            
            .bet__position {
                position: absolute;
                color: rgb(187, 187, 187);
                font-size: 10em;
                left: 5px;
                top: 0;
            }

            &.dropholder {
                background-color: rgb(224, 255, 245);
                .Play__rider {
                    opacity: 0.1;
                    transition: opacity 0.15s
                }
            }
            &.initdragitem{
                background-color: rgb(211, 189, 189);
                .Play__rider{
                    opacity: 0.2
                }
            }
            @media screen and (max-width: 600px){
                width: 50%;
                height: 12.5%;
            }
        }
    }

    .Play__bet-mobile {
        position: absolute;
        right: 0;
        width: $riderListItemH;

        .Play__bet-mobile-item {
            width: 100%;
            height: $riderListItemH;
            background-color: #ccc;
            border: solid 1px black;
            text-align: center;
            line-height: $riderListItemH;
        }
    }

    .Play__list {
        position: absolute;
        z-index: 2;
        right: 0;
        width: 40%;
        min-width: 250px;
        background-color: #ccc;
        display: flex;
        flex-direction: column;

        &.removedrop:before {
            content: '';
            background-color: blanchedalmond;
            height: $riderListItemH;
            width: 100%;
        }

        .Play__rider {
            width: 100%;
            height: $riderListItemH;
            margin: 0;
            padding: 10px 10px 10px 50px;
            border: solid 1px black;            
            background-color: white;

            &.dropholder {
                margin-top: $riderListItemH;
            }

            .rider__drag {
                content: '';
                background-color: #ccc;
                position: absolute;
                z-index: 10;
                left: 5px;
                top: 5px;
                bottom: 5px;
                width: 40px;
            }
        }    
    }    
    
    .Play__rider {
        width: 100%;
        height: 100%;
        position: relative;
        font-size: 14px;
        line-height: 14px;
        font-weight: normal;
        background-color: white;
        
        &.ondrag {
            position: absolute;
            padding: 10px;
            z-index: 20;
            width: 100px;
            height: 100px;
            margin-top: -50px;
            margin-left: -50px;
            box-shadow: 0 0 6px black;
        }
    }

    &.list-mode {
        .Play__list {
            left: 0;
            right: $riderListItemH;
            width: auto;
        }
        .Play__rider {
            &.ondrag {
                width: auto;
                height: $riderListItemH;
                left: 10px;
                right: 30px;
                margin: 0;
            }
        }

    }

    @media (min-width: 1024px) {
        .Play__list {
            width: 55%;
            height: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            background-color: white;
            padding: 10px;

            &.removedrop:before {
                content: '';
                background-color: blanchedalmond;
                min-width: 85px;
                width: 10%;
                min-height: 110px;
                padding: 70px 10px 10px;
                font-size: 12px;
                margin: 2%;
                box-sizing: border-box;                
            }

            .Play__rider { 
                min-width: 85px;
                width: 10%;
                min-height: 110px;
                padding: 70px 10px 10px;
                font-size: 12px;
                margin: 2%;
                box-sizing: border-box;
                                
                .rider__drag {
                    position: absolute;
                    left: 5px;
                    right: 5px;
                    height: 60px;
                    top: 5px;
                    width: auto;
                    background-color: #ccc;
                }
            }
        }
        .Play__bet {
            width: 45%;
        }
    }
}